<?php

namespace ${1:`substitute(substitute(expand("%:h"), '\v^\w+\/(\u)', '\1', ''), '\/', '\\\', 'g')`};

class ${2:`Filename('', 'myClass')`} extends ${3:\Exception}
{
	public function __construct(${4:param})
	{
		$message = sprintf('${5:Message}', $4);
		parent::__construct($message);
	}
}
