<?php

namespace ${1:`substitute(substitute(expand("%:h"), '\v^\w+\/(\u)', '\1', ''), '\/', '\\\', 'g')`};

class ${2:`Filename('', 'myClass')`} extends \PHPUnit_Framework_Testcase
{
	public function setUp()
	{
		${3:}
	}

	public function test()
	{
	}
}

