<?php

namespace Ylly\Extension\${1:YourBundle}\Controller;

use Ylly\CmsBundle\Controller\SiteBaseController;
use Ylly\Extension\$1\Entity\${2:EntityName};

class SiteController extends SiteBaseController
{
	public function get$2Repo()
	{
		return $this->getEm()->getRepo('Ylly\Extension\$1\Entity\$2');
	}

	public function indexAction()
	{
		return $this->render('$1:Site:index.html.twig', array(
		));
	}
}

