<?php

namespace Ylly\${1:Extension}\${2:SomeBundle}\Entity\${3:EntityName};

use Doctrine\ORM\Mapping as ORM;

/**
 * @ORM\Entity(repositoryClass="Ylly\$1\$2\Repository\$3Repository")
 * @ORM\Table()
 */
class $3
{
}
