<?php

namespace Ylly\${1:Extension}\${2:SomeBundle}\Tests\${3:Component};

use Ylly\$1\$2\$3\${4:SomeClass};

class $4Test extends \PHPUnit_Framework_TestCase
{
    public function setUp()
	{
		$this->${5:class} = new $4;
	}
}
